



.uploadform{
    color: gold;
    
}
.uploadform input[type=text]{
    
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.uploadform input[type=submit] {
    
    display: inline-block;
    background-color: #bfa100;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 500px){
body
    background-color: lightblue
}